

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    // font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
}

// I tried adding this reset to see if it will do anything but

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh;
    height: 90vh;
    // position: relative;
    background-image: var();
    
}


.section__title--hero {
  font-family: var(--ff-primary);
  font-size: 8vh;
  font-weight: 600;
  text-align: left;
  // top: 18vh;
  // left: 70vw;
  top: 35vh;
  right: 15vw;
  position: absolute;
}
.section__title--hero-name{
  // position: relative; 
  // left: 20vw;
  // bottom: 1vh;
  position: absolute;
  right: 15vw;
  bottom: 40vh;
  font-family: var(--ff-secondary);
  font-size: 70px;
  text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.section__subtitle--hero{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: left;
  // margin-bottom: 5vh;
  // bottom: 21vh;
  // right: 18vw;
  // position: absolute;
    position: absolute;
    bottom: 42vh;
    right: 15vw;
}
.section__subtitle--hero1{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: left;
  margin-top: 2vh;
  // bottom: 10vw;
  // right: 18vw;
  // position: absolute;
  position: absolute;
  right: 15vw;
  bottom: 38vh;
//   background-size: cov;***
}

@media only screen and (max-width: 950px){
  .section__title--hero-name{
    position: absolute;
    top: 40vh;
  }
}

// @media only screen and (max-width: 680px){
//   .section__title--hero-name{
//     position: absolute;
//     top: 90vh;
//   }
//   .section__title--hero{
//     position: absolute;
//     left: 36vw;
//     top: 10vh;
//     font-size: 13rem;
//   }
// }
@media only screen and (max-width: 700px){
    .hero{
      padding: 2vh;
      height: 80vh;
    }
    .section__title--hero{
      position: absolute;
      left: 40vw;
      top: 40vh;
      font-size: 3rem;
    }
    .section__title--hero-name{
      left: 33vw;
      top: 50vh;
      // color: rgb(211, 3, 3);
      font-family: var(--ff-secondary);
      font-size: 4rem;
      text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    }
    .section__subtitle--hero{
      position: absolute;
      padding: 10% 0 0 35%;
      right: 34vw;
      bottom: 20vh;
      text-align: center;
      text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    }
    .section__subtitle--hero1{
      position: absolute;
      bottom: 14vh;
      right: 28vw;
      padding: 0 0% 0% 25%;
      text-align: center;
      text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

  
    }

  }
  
  @media only screen and (max-width: 450px){
    .hero{
      height: 90vh;
    }
      .section__title--hero{
      position: absolute;
      top: 25vh;
      left: 35vw;
    }
    .section__title--hero-name{
      left: 26vw;
      top: 31.5vh;
      font-family: var(--ff-secondary);
      font-size: 3.5rem;
    }
    .section__subtitle--hero{
      width: 100vw;
      position: absolute;
      right: 10vw;
      bottom: 49vh;
      // left: 35vw;
      // top: 35vh;
    }
    .section__subtitle--hero1{
      position: absolute;
      // left: 15vw;
      // top: 3vh;
      width: 100vw;
      top: 43vh;
      right: 2vw;
      padding-left: 10%;
      text-align: center;
    }
  }

  // @media only screen and(max-width: 420px){
  //   .section__subtitle--hero{
  //     left: 20vw;
  //   }
  // }
  @media only screen and (max-width: 400px){


    .section__title--hero-name{
      left: 23vw;
      top: 31.5vh;
    }
    .section__subtitle--hero{
      position: absolute;
      padding-left: 0;
      left: 4vw;
      bottom: 55vh;
      // left: 35vw;
      // top: 35vh;
    }
    .section__subtitle--hero1{
      position: absolute;
      // left: 15vw;
      // top: 3vh;
      width: 100vw;
      top: 43vh;
      right: 2vw;
      padding-left: 10%;
      text-align: center;
    }
  }