.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh;
    height: 70vh;
    position: relative;
    background-image: var();
}

// .videos{
//   position: relative;
//   width: 120vw;
//   right: 2%;
// }
.section__title--hero,
  .section__title--hero-name{
  font-family: var(--ff-primary);
  font-size: 8vh;
  font-weight: 600;
  text-align: left;
  top: 18vh;
  left: 58vw;
  position: absolute;
}
.section__title--hero-name{
  left: 68vw;
  top: 35vh;
  // font-family: var(--ff-secondary);
  font-size: 4rem;
}
.section__subtitle--hero{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: left;
  margin-bottom: 5vh;
  top: 30vh;
  right: 33%;
  position: absolute;
}
.section__subtitle--hero1{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: left;
  margin-top: 2vh;
  top: 47%;
  right: 33%;
  position: absolute;
//   background-size: cov;***
}

@media only screen and (max-width: 700px){
    .hero{
      padding: 2vh;
      height: 80vh;
    }
    .section__title--hero{
      position: absolute;
      left: 32%;
      top: 50%;
      font-size: 3rem;
    }
    .section__title--hero-name{
      left: 68vw;
      top: 35vh;
      color: rgb(211, 3, 3);
      font-family: var(--ff-secondary);
      font-size: 4rem;
    }
    .section__subtitle--hero{
      position: absolute;
      padding-top: 10%;
      right: 1;
      top: 40%;
    }
    .section__subtitle--hero1{
      position: relative;
      top: 25%;
      right: 32%;
      padding: 0 0% 0% 45%;
      margin-bottom: -25px;
      text-align: right;
  
    }

  }
  
  @media only screen and (max-width: 450px){
      .section__title--hero{
      position: absolute;
      left: 15%;
    }
    .section__title--hero-name{
      left: 68vw;
      top: 35vh;
      font-family: var(--ff-secondary);
      font-size: 4rem;
    }
    .section__subtitle--hero{
      position: absolute;
      left: 16%;
   
    }
    .section__subtitle--hero1{
      position: relative;
      top: -12%;
      right: 32%;
      margin-bottom: -25px;
      text-align: left;
  
    }
  }