
  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* // font-size: 100%; */
    /* // font: inherit; */
    vertical-align: baseline;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20vh 10vw 20vh 20vw;
    height: 90vh;
    background-image: var();
    
}


.section__title--hero {
  font-family: var(--ff-primary);
  font-size: 8vh;
  font-weight: 600;
  text-align: left;
  top: 35vh;
  right: 15vw;
}
.section__title--hero-name{
  right: 15vw;
  bottom: 44vh;
  font-family: var(--ff-secondary);
  font-size: 70px;
  text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.section__subtitle--hero{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: left;
    bottom: 42vh;
    right: 15vw;
}
.section__subtitle--hero1{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: left;
  margin-top: 2vh;
  right: 15vw;
  bottom: 38vh;
}


@media only screen and (max-width: 700px){
    .hero{
      align-items: center;
      height: 90vh;
    }
    .section__title--hero{
      left: 40vw;
      top: 40vh;
      font-size: 3rem;
    }
    .section__title--hero-name{
      left: 33vw;
      top: 50vh;
      font-family: var(--ff-secondary);
      font-size: 4rem;
      text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    }
    .section__subtitle--hero{
      right: 34vw;
      bottom: 20vh;
      text-align: center;
      text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    }
    .section__subtitle--hero1{
      bottom: 14vh;
      right: 28vw;
      text-align: center;
      text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    }

  }
  
  @media only screen and (max-width: 450px){
    .hero{
      height: 90vh;
    }
      .section__title--hero{
      top: 25vh;
      left: 35vw;
    }
    .section__title--hero-name{
      left: 26vw;
      top: 31.5vh;
      font-family: var(--ff-secondary);
      font-size: 3.5rem;
    }
    .section__subtitle--hero{
      width: 100vw;
      right: 10vw;
      bottom: 49vh;
    }
    .section__subtitle--hero1{
      width: 100vw;
      top: 43vh;
      right: 2vw;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
    }
  }


  @media only screen and (max-width: 400px){
    .section__title--hero-name{
      left: 23vw;
      top: 31.5vh;
    }
    .section__subtitle--hero{
      padding-left: 0;
      left: 4vw;
      bottom: 55vh;
    }
    .section__subtitle--hero1{
      width: 100vw;
      top: 43vh;
      right: 2vw;
      padding-left: 10%;
      text-align: center;
    }
  }