footer{

    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    /* background: #e0e1e1; */
   }
  footer a {color: inherit;
  }

  footer li i{
    line-height: -200%;
  }

  .social-list__item{
    list-style: none;
     a{
      text-decoration: none;
    }
  }
    .social-list__item:nth-child(1):hover {
      background: #171515;
    }
    .social-list__item:nth-child(2):hover {
      background: #7e0bd6;
    }
    .social-list__item:nth-child(3):hover {
      background: #EA4C89;
    }
    .social-list__item:nth-child(4):hover{
      background: #2164f4;
    }
    .social-list__item:nth-child(5):hover{
      background: #00ab6c;
    }
    .social-list__item:nth-child(6):hover{
      background: #00ACEE;
    }
